<div class="row" *ngIf="isLoading">
    <div class="col-md-2 offset-4 STA-confirm-card">
        <div class="card-header" style="text-align:center; font-weight: bolder; font-size: 150%;">
            Self Travel Agent
        </div>
        <div class="card-body">
            <div class="fa-5x">
                <i class="fa fa-spinner fa-spin" aria-hidden="true" style="margin-left:1.3em;"></i>
            </div>
            <div style="text-align:center; font-weight: bolder; font-size: 150%;">
                Patience is a virtue
            </div>
        </div>
    </div>
    <div class="STA-brown-out">
    </div>
</div>
